<h3>注文情報</h3>
<table class ="table table-bordered">
  <tr>
    <th>注文日</th>
    <td>yyyy/mm/dd</td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>yyyy/mm/dd</td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td>銀行振込</td>
  </tr>
  <tr>
    <th>ステータス確認</th>
    <td>入金確認</td>
  </tr>
</table>