<h3>注文内容</h3>
<table class = "table">
  <thead class = "thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ケーキ</td>
      <td>110</td>
      <td>2</td>
      <td>220</td>
    </tr>
  </tbody>
</table>