<div class="text-center" style="width: 60%; margin: 0 auto; color:#694d49;">
  <h2 style="padding-top: 50px; color:#694d49;">ご購入ありがとうございました！</h2>
  <h4 style="color:#694d49;">またのご利用をお待ちしております。</h4>
</div>
