<div class = "container">
  <div class="row">
    <!--<h1>ようこそながのCAKEへ！</h1>-->
  </div>
  <!--<div class ="row">-->
  <!--  <div class = "mx-auto">-->
      <!--<div class ="center-block">-->
      <div class="mx-auto" style="width: 400px;">
        ようこそながのCAKEへ!</br>
        このサイトはケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</br>
      </div>
  <!--  </div>-->
  <!--</div>-->
  <div class ="row">
    <h2>新着商品</h2>
      <% @items.each do |item| %>
      <table class = "table">
        <tbody>
          <tr>
            <td><%= attachment_image_tag item, :image, size:'200x200' %></td>
          </tr>
        </tbody>
      </table>
      <table class = "table">
        <tbody>
          <tr>
            <th><%= item.name %></th>
            <th><%= item.price %></th>
          </tr>
        </tbody>
      </table>
      <% end %>
          </tr>
        </tbody>
      </table>
  </div>
  <!--<div class ="row">-->
  <div class="float-right">
    <%= link_to "すべての商品を見る>", customer_shippings_path %>
  </div>
</div>