<div class = "container">
  <div class="row">
    <h1>ようこそながのCAKEへ！</h1>
  </div>
  <div class ="row">
    <div class = "mx-auto">
      <!--<div class ="center-block">-->
        このサイトはケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが</br>
        購入には会員登録が必要になります。</br>
      <!--</div>-->
    </div>
  </div>
  <div class ="row">
    <h2>新着商品</h2>
  </div>
  <div class ="row">
    <%= link_to "すべての商品を見る", items_path %>
  </div>
</div>