  <div class="container">
    <div class="row" style="width: 90%; margin: 20px auto;">
    <div class="col-lg-1" ></div>
      <div class="col-lg-5" style ="margin: 100px 0 100px 0">
        <%= attachment_image_tag(@item, :image, style:  "max-width: 100%", fallback: "no_img.jpg", size: '300x200') %>
      </div>
      <div class="col-lg-6" style ="margin: 100px 0 100px 0">
        <%= render partial: 'show_table', locals: { item: @item, cart: @cart}%>
        <!--商品詳細テーブル部分テンプレート-->
      </div>
    </div>
  </div>
